<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_tag :rooms, {'class' => 'form-signin'} do %>
      <h2 class="form-signin-heading">Please create new room</h2>
      <label for="inputTimer">Timer (e.g. 25:00)</label>
      <input type="text" name="timer" id="inputTimer" class="form-control" value="25:00" placeholder="" required="" autofocus="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create new room</button>
    <% end %>
  </div>
</div>
