<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="">Nav item again</a></li>
      <li><a href="">One more nav</a></li>
      <li><a href="">Another nav item</a></li>
    </ul>

    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Timer</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter timer (mm:ss)">
      </div>
      <button type="submit" class="btn btn-default">Save Timer</button>
    </form>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="jumbotron">
      <h1 class="timer-countdown">24:59</h1>
    </div>
  </div>
</div>

